.contentWrapper {
  margin-top: 5%;
}

.formDescription {
  padding: 3%;
}

.formClass {
  padding: 3%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.formItem:not(.submitButton) {
  border-radius: 5px;
  margin-top: 1.1em;
  border: solid var(--greyWhite) 1px;
  box-shadow: inset 0.5px 0.5px 4px rgba(0, 0, 0, 0.15);
  max-width: 80%;
  border: solid var(--greyWhite) 1.5px;
  font-family: "verdana";
}

.formItem::placeholder {
  color: var(--priceColor);
  font-size: 15px;
  font-family: "verdana";
}

.formItem:focus-visible:not(.submitButton) {
  border-radius: 5px;
  border: solid var(--lightBlue) 1.5px;
  outline: none;
  box-shadow: 0.5px 1px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.15s;
}

.formItem:hover:not(.submitButton) {
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.1s ease-out;
}

.submitButton {
  max-width: 50%;
  border-radius: 6px;
  background-color: var(--darkBlue);
  color: var(--greyWhite);
  border: solid var(--darkBlue) 2.5px;
  margin: 5%;
  align-self: end;
  font-weight: bold;
  text-align: center;
  padding: 0.35em 0.7em;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.20);
  transition: all 0.2s ease-in;
}

.submitButton:hover {
  color: var(--darkBlue);
  background-color: var(--greyWhite);
  border: solid var(--darkBlue) 2.5px ;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

input {
  min-height: 1.5em;
}

textarea {
  min-height: 150px;
}

h1 {
  font-weight: 600;
  margin: 0;
  font-size: 1.13em;
}

@media screen and (min-height: 741px) {

  .bodyWrapper {
    min-height: 100vh;
  }
  .bodyInnerWrapper {
    min-height: 100%;
  }

}

@media screen and (min-width: 1024px) {

  .bodyInnerWrapper {
    padding: 0 30vw;
  }

  .formItem:not(.submitButton) {
    height: 2.25em;
  }

  .contentWrapper {
    padding-right: 5vw;
  }

  .submitButton {
    align-self: flex-end;
  }

}

@media screen and (min-width: 3000px) {
  .formItem::placeholder {
    font-size: 1em;
  }

  .formItem {
    font-size: 2rem;
  }

}
